<div class="header">{{data.branch}}
</div>
<table cellspacing="0">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Category</th>
    <th width="230">Comments</th>
    <th></th>
  </tr>
  {{#each data.info}}
    <tr id={{this.msgID}} hello>
      <td>{{this.enrollment_number}}</td>
      <td>{{this.time_stamp}}</td>
      <td>{{this.tag}}</td>
      <td>{{this.message}}</td>
      <td><button
          type="button"
          class="btn btn-danger"
          id="btn"
          onclick="checkId({{this.msgID}})"
        >Delete</button></td>
    </tr>
  {{/each}}
</table>